<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Styleguide Example</title>
  <link rel="stylesheet" href="resources/public/css/layout.css" type="text/css" />
  <link rel="stylesheet" href="resources/public/css/buttons.css" type="text/css" />
</head>
<body>

  <header>
    <h1>Welcome to documentation</h1>
    <p>Display example KSS with kss-php.</p>
  </header>

  <div id="wrapper">

    {{ content }}

  </div><!-- /#wrapper -->

  <script src="resources/public/js/kss.js"></script>

</body>
</html>